<ng-template appPlaceholder></ng-template>
<app-spinner [isLoading]="isLoading"></app-spinner>

<section *ngIf="!isLoading">
  <small>Check the console.log to see the changes!</small><br />
  <h1>@Angular mini-blog / Posts List</h1>

  <a [routerLink]="'/posts/new'" style="cursor: pointer">
    <button>➝ Add new</button>
  </a>

  <hr />

  <posts-item
    *ngFor="
      let post of posts
        | slice: currPage * pageSize - pageSize:currPage * pageSize
    "
    [post]="post"
    [routes]="routesValue"
    (remove)="onDeletePost($event)"
  ></posts-item>

  <p>
    <button [disabled]="currPage === 1" (click)="currPage = currPage - 1">
      PREV
    </button>
    <span>Page {{ currPage }} of {{ numberOfPages() }}</span>
    <button
      [disabled]="currPage >= posts.length / pageSize"
      (click)="currPage = currPage + 1"
    >
      NEXT
    </button>
  </p>
</section>
