<h1>{{ title }} User</h1>

<form [formGroup]="form" (ngSubmit)="onSubmitForm()">
  <fieldset>
    <label>Title</label>
    <input type="text" placeholder="Title post" formControlName="title" />
    <small *ngIf="formValues['title'].invalid && !formValues['title'].pristine"
      >Este campo deve conter entre 3 e 60 caracteres</small
    >

    <label>Body</label>
    <input type="text" placeholder="Body post" formControlName="body" />
    <button [disabled]="form.invalid" type="submit">Save</button>
  </fieldset>
</form>
