<app-spinner [isLoading]="isLoading"></app-spinner>

<section *ngIf="post">
  <h2>{{ post.title | uppercase }} Details</h2>

  <div><span>id: </span>{{ post.id }}</div>

  <small>{{ post.body }}</small>

  <section>
    <h2>Comments</h2>
    <ul *ngFor="let comment of comments">
      <li><b>Name: </b>{{ comment.name }}</li>
      <li><b>Email: </b>{{ comment.email }}</li>
      <li><b>Body: </b>{{ comment.body }}</li>
    </ul>
  </section>

  <button (click)="goBack()">go back</button>
</section>
